version: '3.9'

networks:
  net-bridge:
    driver: bridge

services:
  chroma:
    image: ghcr.io/chroma-core/chroma:latest
    volumes:
      # Default configuration for persist_directory in chromadb/config.py
      # Currently it's located in "/chroma/chroma/"
      - chroma_persistent_dir:/chroma/chroma/
    environment:
      - IS_PERSISTENT=TRUE
      - ALLOW_RESET=TRUE
      - CHROMA_SERVER_AUTH_PROVIDER=${CHROMA_SERVER_AUTH_PROVIDER}
      - CHROMA_SERVER_AUTH_CREDENTIALS_FILE=${CHROMA_SERVER_AUTH_CREDENTIALS_FILE}
      - CHROMA_SERVER_AUTH_CREDENTIALS=${CHROMA_SERVER_AUTH_CREDENTIALS}
      - CHROMA_SERVER_AUTH_CREDENTIALS_PROVIDER=${CHROMA_SERVER_AUTH_CREDENTIALS_PROVIDER}
    ports:
      - 8002:8000 # Map internal port 8000 to external port 8002 to avoid conflict
    networks:
      - net-bridge

  analytiq:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: analytiq
    image: analytiq:latest
    depends_on:
      - chroma
    volumes:
      - analytiq_docstore:/build/analytiq-docstore
      - ..:/build/analytiq-language-app
    environment:
      - CHROMA_HOST=localhost
      - CHROMA_PORT=8002
      - ANALYTIQ_DOCSTORE=/build/analytiq-docstore
    working_dir: /build/analytiq-language-app
    command: /bin/sh -c "streamlit run Analytiq.py --server.port 2001"
    # Don't use a bridge network
    network_mode: host

volumes:
  analytiq_docstore:
    driver: local
  chroma_persistent_dir:
    driver: local